In [1]:
import pandas as pd
import wrds

In [2]:
db =wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [3]:
sp500 = db.raw_sql("""
                        select a.*, b.date, b.ret
                        from crsp.dsp500list as a,
                        crsp.dsf as b
                        where a.permno=b.permno
                        and b.date >= a.start and b.date<= a.ending
                        and b.date>='01/01/2000'
                        order by date;
                        """, date_cols=['start', 'ending', 'date'])

In [4]:
sp500.head(5)

   permno      start     ending       date       ret
0   64995 1994-03-02 2023-12-29 2000-01-03 -0.062147
1   57665 1988-11-03 2023-12-29 2000-01-03 -0.029004
2   85908 1998-04-01 2000-12-08 2000-01-03 -0.061947
3   60628 1980-11-06 2023-12-29 2000-01-03  0.042748
4   19350 1957-03-01 2023-12-29 2000-01-03 -0.011527

In [5]:
mse = db.raw_sql("""
                        select comnam, ncusip, namedt, nameendt, 
                        permno, shrcd, exchcd, hsiccd, ticker
                        from crsp.msenames
                        """, date_cols=['namedt', 'nameendt'])

# if nameendt is missing then set to today date
mse['nameendt']=mse['nameendt'].fillna(pd.to_datetime('today'))

In [6]:
mse.sample(5)

,comnam,ncusip,namedt,nameendt,permno,shrcd,exchcd,hsiccd,ticker
22800,ISHARES TRUST,46435U15,2020-09-04,2023-12-15,18701,73,5,6726,IBHC
72057,COPERNIC INC,21727W20,2009-09-14,2009-10-11,78690,12,3,5065,CNIC
89490,LETS TALK CELLULAR AND WIRLS INC,52726010,1999-11-19,2000-01-19,85563,11,3,5990,LTCW
60193,STANSBURY MINING CORP,85472610,1981-07-15,1982-10-31,72574,11,3,1490,STBY
104286,ECOST COM INC,27922W10,2004-08-27,2004-09-09,90315,11,3,5961,ECST

In [7]:
# Merge with SP500 data
sp500_full = pd.merge(sp500, mse, how = 'left', on = 'permno')

# Impose the date range restrictions
sp500_full = sp500_full.loc[(sp500_full.date>=sp500_full.namedt) \
                            & (sp500_full.date<=sp500_full.nameendt)]
sp500_full.sample(5)

,permno,start,ending,date,ret,comnam,ncusip,namedt,nameendt,shrcd,exchcd,hsiccd,ticker
21567047,17005,1957-03-01,2023-12-29,2022-10-13,0.025729,C V S HEALTH CORP,12665010,2014-09-04,2023-03-23,11,1,5912,CVS
14308762,68857,2010-12-20,2016-06-23,2014-12-11,-0.018609,CABLEVISION SYSTEMS CORP,12686C10,2005-11-08,2016-06-21,11,1,4841,CVC
15368906,75489,1998-10-07,2017-09-15,2016-01-29,0.021764,STAPLES INC,85503010,2004-06-10,2017-09-12,11,3,5940,SPLS
13295375,42534,1986-05-08,2016-09-02,2013-11-13,0.011042,JOHNSON CONTROLS INC,47836610,2013-03-20,2014-01-22,11,1,2531,JCI
5634631,92655,1994-07-01,2023-12-29,2005-12-01,0.026896,UNITEDHEALTH GROUP INC,91324P10,2004-06-10,2023-12-29,11,1,6324,UNH

In [8]:
# Linking with Compustat through CCM

ccm=db.raw_sql("""
                  select gvkey, liid as iid, lpermno as permno, linktype, linkprim, 
                  linkdt, linkenddt
                  from crsp.ccmxpf_linktable
                  where substr(linktype,1,1)='L'
                  and (linkprim ='C' or linkprim='P')
                  """, date_cols=['linkdt', 'linkenddt'])

# if linkenddt is missing then set to today date
ccm['linkenddt']=ccm['linkenddt'].fillna(pd.to_datetime('today'))

In [9]:
# Merge the CCM data with S&P500 data
# First just link by matching PERMNO
sp500ccm = pd.merge(sp500_full, ccm, how='left', on=['permno'])

# Then set link date bounds
sp500ccm = sp500ccm.loc[(sp500ccm['date']>=sp500ccm['linkdt'])\
                        &(sp500ccm['date']<=sp500ccm['linkenddt'])]
sp500ccm.sample(5)

,permno,start,ending,date,ret,comnam,ncusip,namedt,nameendt,shrcd,exchcd,hsiccd,ticker,gvkey,iid,linktype,linkprim,linkdt,linkenddt
908449,48506,1979-12-27,2023-12-29,2005-05-27,0.011330,MOODYS CORP,61536910,2004-06-10,2006-06-29,11,1,7323,MCO,139665,01,LC,P,2000-10-03,2024-04-02 15:17:35.196306
1256951,75034,1987-04-09,2023-12-29,2007-07-23,0.017597,BAKER HUGHES INC,05722410,2005-06-16,2014-01-06,11,1,3533,BHI,001976,01,LC,P,1987-04-24,2017-07-04 00:00:00.000000
722980,10942,1999-10-27,2007-01-31,2004-04-15,-0.018085,COMVERSE TECHNOLOGY INC,20586240,2000-08-01,2004-06-09,11,3,3661,CMVT,012884,01,LC,P,1986-12-15,2007-01-31 00:00:00.000000
993785,77768,1992-07-06,2018-10-30,2005-12-02,-0.002066,PRAXAIR INC,74005P10,2004-06-10,2018-10-30,11,1,2813,PX,025124,01,LC,P,1992-07-06,2018-10-30 00:00:00.000000
3439865,22592,1957-03-01,2023-12-29,2021-06-25,0.007710,3M CO,88579Y10,2020-10-23,2022-07-04,11,1,3841,MMM,007435,01,LC,P,1962-01-31,2024-04-02 15:17:35.196306

In [10]:
# Rearrange columns for final output

sp500ccm = sp500ccm.drop(columns=['namedt', 'nameendt', \
                                  'linktype', 'linkprim', 'linkdt', 'linkenddt'])
sp500ccm = sp500ccm[['date', 'permno', 'comnam', 'ncusip', 'shrcd', 'exchcd', 'hsiccd', 'ticker', \
                     'gvkey', 'iid', 'start', 'ending', 'ret']]
sp500ccm.sample(5)

,date,permno,comnam,ncusip,shrcd,exchcd,hsiccd,ticker,gvkey,iid,start,ending,ret
928814,2005-07-14,14277,SCHLUMBERGER LTD,80685710,12,1,5651,SLB,009465,01,1965-03-04,2023-12-29,-0.029139
2246363,2013-10-15,48486,LAM RESH CORP,51280710,11,3,3559,LRCX,006565,01,2012-06-05,2023-12-29,-0.012758
686768,2004-01-27,57904,AFLAC INC,00105510,11,1,6321,AFL,001449,01,1999-05-28,2023-12-29,0.000000
1810694,2011-01-05,86868,GOLDMAN SACHS GROUP INC,38141G10,11,1,6211,GS,114628,01,2002-07-22,2023-12-29,0.005315
805546,2004-10-13,83332,LUCENT TECHNOLOGIES INC,54946310,11,1,3661,LU,062599,01,1996-10-01,2006-11-30,0.011834

In [11]:
cnt = sp500ccm.groupby(['date'])['permno'].count().reset_index().rename(columns={'permno':'npermno'})
cnt.sample(4)

           date  npermno
5740 2022-10-25      500
4036 2016-01-20      501
2238 2008-11-25      501
398  2001-08-01      500

In [13]:
sp500ccm.sample(50)

,date,permno,comnam,ncusip,shrcd,exchcd,hsiccd,ticker,gvkey,iid,start,ending,ret
1542910,2009-04-30,61815,NOBLE ENERGY INC,65504410,11,1,1311,NBL,007912,01,2007-10-08,2020-10-09,-0.058404
3630572,2022-09-21,45356,JOHNSON CONTROLS INTL PLC,G5150210,12,1,5065,JCI,006268,01,2010-08-27,2023-12-29,-0.010171
525740,2003-02-05,75646,ALLERGAN INC,01849010,11,1,2834,AGN,015708,01,1992-02-10,2015-03-20,-0.005677
374147,2002-03-11,76076,CISCO SYSTEMS INC,17275R10,11,3,3674,CSCO,020779,01,1993-12-31,2023-12-29,-0.021348
3195610,2019-11-25,86996,S B A COMMUNICATIONS CORP NEW,78410G10,18,3,4899,SBAC,121382,01,2017-09-01,2023-12-29,-0.003486
2143731,2013-02-19,68591,ST JUDE MEDICAL INC,79084910,11,1,3845,STJ,009372,01,1989-12-01,2017-01-04,0.002890
3139351,2019-07-17,22293,CORNING INC,21935010,11,1,3229,GLW,003532,01,1957-03-01,2023-12-29,-0.010511
401104,2002-05-08,24766,NORTHROP GRUMMAN CORP,66680710,11,1,3812,NOC,007985,01,1985-06-13,2023-12-29,0.017912
967719,2005-10-06,51043,FEDERAL NATIONAL MORTGAGE ASSN,31358610,11,1,6111,FNM,004601,01,1988-08-11,2008-09-10,0.008169
1527941,2009-03-27,77668,EXPRESS SCRIPTS INC,30218210,11,3,8093,ESRX,025356,01,2003-09-26,2018-12-21,-0.050206
162995,2000-12-05,45356,TYCO INTERNATIONAL LTD NEW,90212410,12,1,5065,TYC,010787,01,1989-07-27,2009-03-16,0.053470
3256325,2020-04-20,89070,ZIMMER BIOMET HOLDINGS INC,98956P10,11,1,3842,ZBH,144559,01,2001-08-07,2023-12-29,-0.013324
3251896,2020-04-07,12623,HUNTINGTON INGALLS INDS INC,44641310,11,1,3731,HII,186310,01,2018-01-03,2023-12-29,-0.010170
827338,2004-12-01,58683,SOUTHWEST AIRLINES CO,84474110,11,1,4512,LUV,009882,01,1994-07-13,2023-12-29,0.037508
3416817,2021-05-03,28804,ALASKA AIRGROUP INC,01165910,11,1,4512,ALK,001230,01,2016-05-13,2023-12-15,-0.006508
3304516,2020-08-10,10516,ARCHER DANIELS MIDLAND CO,03948310,11,1,2046,ADM,001722,01,1981-07-30,2023-12-29,0.010448
138619,2000-10-16,17144,GENERAL MILLS INC,37033410,11,1,2099,GIS,005071,01,1969-02-13,2023-12-29,0.000000
1430817,2008-08-19,34746,FIFTH THIRD BANCORP,31677310,11,3,6711,FITB,004640,01,1996-03-08,2023-12-29,-0.042568
827927,2004-12-01,48274,NICOR INC,65408610,11,1,4924,GAS,007904,01,1989-08-03,2011-12-12,0.001897
1113310,2006-08-29,28222,AIR PRODUCTS & CHEMICALS INC,00915810,11,1,2842,APD,001209,01,1985-04-11,2023-12-29,0.011571
2022095,2012-05-08,24205,NEXTERA ENERGY INC,65339F10,11,1,4911,NEE,004517,01,1976-07-01,2023-12-29,0.000935
2294116,2014-02-06,92988,CAREFUSION CORP,14170T10,11,1,3841,CFN,183257,01,2009-09-01,2015-03-17,0.006750
1920774,2011-09-15,86580,NVIDIA CORP,67066G10,11,3,3670,NVDA,117768,01,2001-11-30,2023-12-29,0.014071
2323511,2014-04-15,49656,BANK OF NEW YORK MELLON CORP,06405810,11,1,6022,BK,002019,01,1995-03-31,2023-12-29,0.000602
2596979,2016-01-19,64186,CIGNA CORP,12550910,11,1,6324,CI,002547,01,1982-04-08,2023-12-29,0.027087
3046568,2018-12-07,92602,PHILIP MORRIS INTERNATIONAL INC,71817210,11,1,2111,PM,179621,01,2008-03-31,2023-12-29,-0.008559
2920948,2018-02-15,70519,CITIGROUP INC,17296742,11,1,6021,C,003243,01,1988-05-26,2023-12-29,0.004823
2002325,2012-03-22,43350,STANLEY BLACK & DECKER INC,85450210,11,1,3429,SWK,010016,01,1982-09-16,2023-12-29,-0.016176
778330,2004-08-16,90609,NOVELL INC,67000610,11,3,7370,NOVL,011910,01,1991-11-01,2011-04-27,0.014446
239642,2001-05-18,63060,WENDYS INTERNATIONAL INC,95059010,11,1,5812,WEN,011366,01,1982-03-04,2008-09-29,0.000800
315256,2001-10-31,46886,K L A TENCOR CORP,48248010,11,3,3827,KLAC,006304,01,1997-09-15,2023-12-29,0.030257
1620675,2009-10-23,85926,SEALED AIR CORP NEW,81211K10,11,1,2673,SEE,009555,01,1998-04-01,2023-12-15,-0.021277
968639,2005-10-07,90110,HOSPIRA INC,44106010,11,1,2834,HSP,160255,01,2004-05-03,2015-09-02,0.001006
1980828,2012-02-02,37584,FRANKLIN RESOURCES INC,35461310,11,1,6282,BEN,004885,01,1998-04-29,2023-12-29,0.011253
43154,2000-03-30,75034,BAKER HUGHES INC,05722410,11,1,3533,BHI,001976,01,1987-04-09,2023-12-29,-0.028398
2166499,2013-04-12,32870,HORMEL FOODS CORP,44045210,11,1,2011,HRL,005709,01,2009-03-04,2023-12-29,0.004171
79866,2000-06-15,83440,ASSOCIATES FIRST CAPITAL CORP,04600810,11,1,6141,AFS,001831,01,1998-04-08,2000-12-01,-0.060185
3650370,2022-11-04,88352,INTUITIVE SURGICAL INC,46120E60,11,3,3842,ISRG,136725,01,2008-06-02,2023-12-29,0.022802
1696903,2010-04-20,89626,C M E GROUP INC,12572Q10,11,3,6200,CME,149070,01,2006-08-11,2023-12-29,-0.002211
2356377,2014-07-02,90038,ASSURANT INC,04621X10,11,1,6411,AIZ,157057,01,2007-04-10,2023-12-29,-0.012523
2621839,2016-03-16,69796,CONSTELLATION BRANDS INC,21036P10,11,1,2084,STZ,002710,02,2005-07-05,2023-12-29,0.002845
2323663,2014-04-16,18411,SOUTHERN CO,84258710,11,1,4911,SO,009850,01,1944-06-07,2023-12-29,0.012597
3283940,2020-06-23,35554,M & T BANK CORP,55261F10,11,1,6022,MTB,004699,01,2004-02-27,2023-12-29,-0.000369
3502639,2021-11-18,21573,INTERNATIONAL PAPER CO,46014610,11,1,2621,IP,006104,01,1925-12-31,2023-12-29,-0.007357
73166,2000-06-01,39642,BECTON DICKINSON & CO,07588710,11,1,3841,BDX,002111,01,1972-09-14,2023-12-29,-0.019272
3694080,2023-02-21,85621,METTLER TOLEDO INTERNATIONAL INC,59268810,11,1,3826,MTD,065772,01,2016-09-06,2023-12-29,-0.036263
1796639,2010-12-02,22752,MERCK & CO INC NEW,58933Y10,11,1,2834,MRK,007257,01,1957-03-01,2023-12-29,0.004564
1158634,2006-12-07,61621,PAYCHEX INC,70432610,11,3,8700,PAYX,008402,01,1998-10-01,2023-12-29,-0.007108
1611729,2009-10-05,53065,INTERPUBLIC GROUP COS INC,46069010,11,1,7311,IPG,006136,01,1992-10-30,2023-12-29,0.011696
2326033,2014-04-22,78916,ACTAVIS PLC,G0083B10,12,1,2834,ACT,027845,01,1999-04-12,2020-05-11,0.013602